* {
  margin: 0;
  padding: 0;
}


.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.main-container .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


h1{
  text-align: center; 
  margin: 10px 0;
}

#container{
  text-align: center;
  background-color: #1abc9c;
  padding: 50px;
}

.input-div{
  display: inline-block;
}

.inp{
  padding: 5px 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  text-align: center;
}

label{
  font-size: 25px;
}


@media screen and (max-width: 800px) {  
    .main-container {
      flex-direction: column;
    }
  
    .main-container .main {
      width: 100%;
    }

  }
  
